.head{
	font-family:monospace;
	font-size: 250px;
	color: red;
}



.container {
	width:1150px;
	height: auto;

	
}
#img1{
	width: 150px;
}
.container image{
	width:50%;
	height:auto;
}
.thumbnail{
	height:350px;
	width:250px;
}